.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

.movie-images-div{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5,19%);
    gap: 1%;
}
.movie-images-div img{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,24%);
    gap: 1%;
}