.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.modal-dialog{
  background-color: rgb(42, 165, 97);
  position: fixed;
  z-index: 8;
  width: 80%;
}
.modal-content{
  background-color: rgb(0, 0, 0);
  position: fixed;
}
