.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 10px;

}

#alert {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.544);
  height: 100vh;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
#alert div{
  text-align: left;
  width: 100%;
}
