
.main-home-page-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  text-align: start;
  background-color: var(--first-color);
}
.inner-cards-div {
  display: grid;
  justify-content: center;
  height: fit-content;
  grid-template-columns: repeat(3, 32%);
  column-gap: 2%;
  padding: 5%;
  
}



.card-title {
  width: 90%;
  text-decoration-skip: inherit;
  overflow: hidden;
  white-space: nowrap;
  color: var(--text-color);
  font-weight: 700;
  cursor: pointer;

}
.card-details-div {
  display: flex;
  padding: 5px;
  flex-direction: column;
  gap: 5px;
  color: var(--text-color2);
  font-weight: 700;
  
}
.card-title {
  text-decoration: none;  
}
.card-title:hover {
  color: var(--text-hover);
}

.card:hover {
  transform: scale(1.1);
  border: 1px solid white;
}

.inner-cards-div img:hover {
  cursor: pointer;
}
.card-title h5{
    
}