.main-home-page-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    
}
.inner-cards-div{
    display: grid;
    grid-template-columns: repeat(4,25%);
    padding: 5px;
}

.inner-cards-div img{
    width:95%;
    height: 80%;
}


