* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

:root {
  --first-color: #10141F;
  --second-color: #1B1822;
  --text-color: white;
  --text-color2: #5b6379;
  --text-hover: rgb(237, 101, 3);
}

html {
  background-color: var(--first-color);
  color: var(--text-color);
  text-decoration: none;

}

a{
  text-decoration: none;
  text-shadow:1px 1px 1px #10141F;
}