.main-movie-page-card{
 display: flex;
 justify-content: center;
  width: 100%;
}
.movie-page {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  padding: 10px;
  row-gap: 25px;
  background-color: var(--first-color);
  color: white;
}
.movie-page-card {
  display: flex;
  margin: 5px;
  /* border: 1px solid white; */
  width: fit-content;
  max-width: 1100px;
  box-shadow: 0px 0px 22px 0px red;
}
.movie-page-card img {
  width: 500%;
  max-width: 200px;
}

.movie-images-div {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 19%);
  gap: 1%;
}
.movie-images-div img {
  width: 100%;
}

.movie-card-details-div1 {
  display: flex;
}
.release-votes {
  display: flex;
  /* background-color: brown; */
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 2px;
}
.release-votes1 {
  display: flex;
  /* background-color: brown; */
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.span-card-subtitle {
  color: var(--third-color);
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.card-subtitle {
  color: var(--text-color);
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.movie-page-title {
  padding: 10px;
  color: var(--text-hover);
}

.movie-page-overview {
  text-align: justify;
  text-justify: inter-word;
  padding: 10px;
}

.content-div-movie-page {
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btns-card {
  margin: 5px;
  height: 40px;
  width: 120px;
  background-color: var(--text-hover);
  color: var(--text-color);
  border: 0px;
  box-shadow: 0px 0px 4px 0px white;
  cursor: pointer;
}

.btns-card:hover {
  background-color: var(--text-color);
  color: var(--first-color);
  font-weight: 700;
}

.alert {
  display: flex;
  position: fixed;
  background-color: aliceblue;
  width: 100vw;
  left: 0%;
  height: 100vw;
  color: black;
  justify-content: center;
  align-items: center;
}
#alert .modal-header {
  color: black;
}
#alert .modal-body {
  color: black;
}
.imagesSection {
  text-align: start;
  color: red;
  padding: 5px;
}


@media all and (max-width:800px) {
 
  .span-card-subtitle {
    font-size: 14px;
  }
  .card-subtitle {
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .main-movie-page-card{
    display: flex;
    justify-content: flex-start;
     width: 100%;
   }
  
  
  
}