.movie-page-card {
    display: flex;
    margin: 5px;
    border: 1px solid white;
  }
  .movie-page-card img {
    width: 500%;
    max-width: 200px;
  }
  
  .movie-images-div {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 19%);
    gap: 1%;
  }
  .movie-images-div img {
    width: 100%;
  }
  
  .movie-card-details-div1 {
    display: flex;
  }
  .release-votes {
    display: flex;
    margin-top: 10px;
    /* justify-content: space-between; */
    align-items: center;
    padding: 5px;
    font-size: 14px;
  }
  
  .movie-page-title{
    padding: 10px;
    color: var(--text-hover);
    
  }
  
  .movie-page-overview{
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
  }
  
  .content-div-movie-page{
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .btns-card{
    margin: 5px;
    height: 40px;
    width: 120px;
    background-color: var(--text-hover);
    color: var(--text-color);
    border: 0px;
    box-shadow: 0px 0px 4px 0px white;
    cursor: pointer;
  }
  
  .btns-card:hover{
    background-color: var(--text-color);
    color: var(--first-color);
    font-weight: 700;
  }